---
---

@import "{{ site.theme }}";

.status-build-fail {
    color: #c00004;
}
.status-test-fail {
    color: #a69000;
}
.status-test-pass {
    color: #00a73a;
}
.status-unknown {
    color: #919191;
}
